@font-face {
    font-family: 'ArcadeClassic';
    src: url('./fonts/ARCADECLASSIC.TTF') format('truetype');
}
body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
#board{
    background-color: #000;
}